---
import '@/styles/post.css';

import { getCollection } from 'astro:content';

import PageTitle from '@/components/PageTitle.astro';
import PostList from '@/components/Posts/List.astro';
import MainLayout from '@/layouts/main.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  const tags = posts.flatMap(post => {
    if (!post.data.tags) return [];

    return post.data.tags;
  });

  return tags.map((t: string) => {
    return {
      params: {
        slug: t,
      },
    };
  });
}

const { slug } = Astro.params;

// get all posts with the same tag
const posts = (await getCollection('posts')).filter(post => {
  if (!post.data.tags || !slug) return false;

  return post.data.tags.includes(slug);
});
---

<MainLayout>
  <div class="mt-5 w-full max-w-[1000px]">
    <div class="mb-2">
      <PageTitle title={`Tag: ${slug}`} />
    </div>
    <PostList allPosts={posts} />
  </div>
</MainLayout>
