---
import MainSEO from '@components/SEO/Main.astro';
import { getCollection } from 'astro:content';

import PageTitle from '@/components/PageTitle.astro';
import MainLayout from '@/layouts/main.astro';

const allPosts = await getCollection('posts');

const allTags = [...new Set(allPosts.flatMap(post => post.data.tags))];

// Meta data
const meta = {
  title: 'Available Tags for Posts',
  description: 'A list of all tags used in posts on this site.',
};
---

<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <div class="my-5 w-full max-w-[1000px]">
    <div class="mb-2">
      <PageTitle title="Available Tags for Posts" />
    </div>

    <div class="flex flex-wrap gap-2">
      <!-- Loop through allTags and display each tag -->
      {
        allTags.map(tag => (
          <a
            href={`/posts/tags/${tag}`}
            class="base-border rounded-lg border bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 dark:bg-gray-800 dark:text-gray-400"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
