---
import type { CollectionEntry } from 'astro:content';
import PostItem from './PostItem.astro';

interface Props {
	allPosts: CollectionEntry<'posts'>[];
}

const { allPosts } = Astro.props;
---

<div class="flex flex-col mb-3">
  {
    allPosts.length > 0 ? (
      allPosts.map(({ data, id }) => <PostItem data={data} slug={id} />)
    ) : (
      <div class="flex flex-col items-center">
        <p class="p-5">Nothing can be found!</p>
      </div>
    )
  }
</div>
