---
import { getCollection } from 'astro:content';

import PageTitle from '@/components/PageTitle.astro';
import MainLayout from '@/layouts/main.astro';
import PostList from '@/components/Posts/List.astro';

const allPosts = (await getCollection('posts')).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<MainLayout>
  <div class="mt-5 w-full max-w-[1000px]">
    <div class="mb-2">
      <PageTitle
        title="Blog"
        description="Welcome to my blog, where I embark on a journey of sharing knowledge and meaningful insights with the world."
      />
    </div>
    <PostList allPosts={allPosts} />
  </div>
</MainLayout>
