---
import MainSEO from '@components/SEO/Main.astro';

import MainLayout from '@/layouts/main.astro';

// Meta data
const meta = {
  title: '404',
  description: 'Oops! It seems like the page you were searching for does not exist.',
};

export const prerender = true;
---

<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <div class="mb-10 mt-5 flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center text-center">
      <p class="mb-4 text-6xl font-bold">404</p>
      <p class="text-xl md:text-2xl">
        Oops! It seems like the page you were searching for does not exist.
      </p>
    </div>
    <a href="/">
      <button class="button-normal mt-6" type="button"> Back to home</button>
    </a>
  </div>
</MainLayout>
