---
import MainSEO from '@components/SEO/Main.astro';

import PageTitle from '@/components/PageTitle.astro';
import MainLayout from '@/layouts/main.astro';

// Meta data
const meta = {
	title: 'Contact',
	description:
		'Contact Kelvin Chan by email or social media for questions, conversations, and project-related messages.',
};
---

<MainLayout>
  <MainSEO
    slot="head"
    includeSiteTitle
    title={meta.title}
    description={meta.description}
  />
  <PageTitle
    title="Contact Me"
    description="Have questions or want to chat? Feel free to reach out! Please be respectful in your communication."
  />
  <div class="flex flex-col gap-3 mt-4">
    <p>I'm available via Email, Discord, and Instagram DMs.</p>
    <p>
      Email:
      <a href="mailto:me@tsun1031.xyz" class="text-blue-500">
        me@tsun1031.xyz
      </a>
    </p>
  </div>
</MainLayout>
