---
import MainSEO from '@components/SEO/Main.astro';

import PageTitle from '@/components/PageTitle.astro';
import MainLayout from '@/layouts/main.astro';

// Meta data
const meta = {
	title: 'Contact',
	description:
		'Informations about how to contact me, feel free to reach out to me!',
};
---

<meta charset="utf-8" />
<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <PageTitle
    title="Contact Me"
    description="Have questions or want to chat? Feel free to reach out! Please be respectful in your communication."
  />
  <div class="flex flex-col gap-3 mt-4" data-pagefind-body>
    <p>I'm available via Email, Discord, and Instagram DMs.</p>
    <p>
      Email:
      <a href="mailto:me@tsun1031.xyz" class="text-blue-500">
        me@tsun1031.xyz
      </a>
    </p>
  </div>
</MainLayout>
