---
import MainSEO from '@components/SEO/Main.astro';

import MainLayout from '@/layouts/main.astro';
import { default as PageFindSearch } from 'astro-pagefind/components/Search';
---

<head>
  <meta name="robots" content="noindex">
</head>
<MainSEO
  title="Search"
  description="Search for anything on this site"
  includeSiteTitle
/>
<MainLayout>
  <div
    class="my-5 flex flex-col items-center justify-center text-center"
    data-pagefind-ignore="all"
  >
    <h1 class="text-3xl font-semibold mb-8 placeholder:text-lg">Search Here</h1>
    <PageFindSearch
      id="search"
      className="pagefind-ui"
      uiOptions={{
        showImages: false,
        resetStyles: false,
        debounceTimeoutMs: 500,
        autofocus: true,
      }}
    />

    <style is:global>
      /* when html tag data-theme is light */
      .root {
        --pagefind-ui-font: "Inter Variable", "Noto Sans TC", sans-serif;
      }

      html[data-theme="light"] {
        --pagefind-ui-border: #dbdbdb;
      }

      /* when html tag data-theme is dark */
      html[data-theme="dark"] {
        --pagefind-ui-primary: #eeeeee;
        --pagefind-ui-text: #eeeeee;
        --pagefind-ui-background: #222222;
        --pagefind-ui-border: #464646;
        --pagefind-ui-tag: #464646;
      }
    </style>
  </div>
</MainLayout>
