---
import Countdown from './Countdown.astro';

import MobileNavigationMenu from './Headbar/MobileNavigationMenu.astro';
import NavigationBarPages from './Headbar/NavigationBarPages.astro';
import ThemeSwitcher from './Headbar/ThemeSwitcher.astro';
---

<header class="flex flex-col w-screen justify-center">
  <Countdown />
  <div
    class="flex w-full max-w-[800px] self-center flex-row items-center justify-between px-5 py-2 text-lg md:py-3"
  >
    <nav class="flex flex-row items-center">
      <MobileNavigationMenu />
      <NavigationBarPages />
    </nav>
    <ThemeSwitcher />
</header>
