---
import { Icon } from 'astro-icon/components';
import Countdown from './Countdown.astro';

import MobileNavigationMenu from './Headbar/MobileNavigationMenu.astro';
import NavigationBarPages from './Headbar/NavigationBarPages.astro';
import ThemeSwitcher from './Headbar/ThemeSwitcher.astro';
---

<header class="flex flex-col w-screen justify-center" data-pagefind-ignore="all">
  <Countdown />
  <div
    class="flex w-full max-w-[800px] self-center flex-row items-center justify-between px-5 py-2 text-lg md:py-3"
  >
    <nav class="flex flex-row items-center">
      <MobileNavigationMenu />
      <NavigationBarPages />
    </nav>
    <div class="flex flex-row">
      <a
        class="base-button-hover base-button-animation p-2 cursor-pointer"
        href="/search"
        aria-label="Search"
      >
        <Icon name="hugeicons:search-01" size={24} />
      </a>
      <ThemeSwitcher />
    </div>
  </div>
</header>
