---
import MobileNavigationMenu from './Headbar/MobileNavigationMenu.astro';
import NavigationBarPages from './Headbar/NavigationBarPages.astro';
import ThemeSwitcher from './Headbar/ThemeSwitcher.astro';
---


<header class="flex w-screen justify-center">
  <div class="flex w-full max-w-[800px] flex-row items-center justify-between px-5 py-1 text-lg md:py-2">
    <div class="flex flex-row items-center">
      <MobileNavigationMenu />
      <NavigationBarPages />
    </div>
    <div class="flex flex-row">
      <ThemeSwitcher />
    </div>
  </div>
</header>