---
import clsx from 'clsx';

interface Props {
  href: string;
  className?: string;
  [key: string]: any;
}

const { href, className, external, ...rest } = Astro.props;
---

<a
  href={href}
  rel={external ? 'noopener' : undefined}
  class={clsx('text-blue-500 hover:underline dark:text-blue-300', className)}
  {...rest}
>
  <slot />
</a>
