---
import clsx from 'clsx';

import config from '@/config';

const currentPath = Astro.url.pathname;
---

<nav class="hidden flex-row gap-1 md:flex">
  {
    config.headbar.routes.map((item) => (
      <a
        href={item.href}
        class={clsx(
          "nav-link",
          (currentPath === "/"
            ? currentPath === item.href
            : currentPath.startsWith(item.href ?? "") && item.href !== "/") &&
            "nav-link-active"
        )}
      >
        {item.name}
      </a>
    ))
  }
</nav>
