---
import { Icon } from 'astro-icon';
---

<div
  class="flex items-center justify-center rounded-lg ring-gray-300 hover:bg-gray-200 hover:dark:bg-gray-800"
>
  <button
    type="button"
    id="themeToggle"
    aria-label="Toggle Theme Mode"
    class="base-button-animation p-2"
  >
    <Icon name="tabler:moon" id="moon-theme-toggle-id" size={24} />
    <Icon name="tabler:sun" id="sun-theme-toggle-id" size={24} />
  </button>
</div>

<script>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') ?? 'light';
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  const toggleTheme = (theme: string) => {
    // set documentElement data-theme="light"
    document.documentElement.setAttribute('data-theme', theme);
    document.documentElement.style.setProperty('color-scheme', theme);

    // If dark, set the id="sun" class hidden
    if (theme === 'dark') {
      document.getElementById('sun-theme-toggle-id')?.classList.add('hidden');
      document.getElementById('moon-theme-toggle-id')?.classList.remove('hidden');
    } else {
      document.getElementById('sun-theme-toggle-id')?.classList.remove('hidden');
      document.getElementById('moon-theme-toggle-id')?.classList.add('hidden');
    }
  };

  toggleTheme(theme);

  window.localStorage.setItem('theme', theme);

  const handleThemeToggleClick = () => {
    const element = document.documentElement;
    const isDark = element.getAttribute('data-theme') === 'dark';

    toggleTheme(isDark ? 'light' : 'dark');
    localStorage.setItem('theme', isDark ? 'light' : 'dark');
  };

  document.getElementById('themeToggle')?.addEventListener('click', handleThemeToggleClick);
</script>
