---
import { Icon } from 'astro-icon/components';
---

<button
  type="button"
  id="themeToggle"
  aria-label="Toggle Theme Mode"
  class="base-button-hover base-button-animation p-2"
>
  <Icon name="tabler:sun" id="sun-theme-toggle-id" size={24} class="hidden" />
  <Icon
    name="tabler:moon"
    id="moon-theme-toggle-id"
    size={24}
    class="hidden"
  />
</button>

<head>
  <script is:inline>
    // Get the current theme.
    const getTheme = () => {
      if (localStorage && localStorage.getItem('theme')) {
        return localStorage.getItem('theme') === 'dark' ? 'dark' : 'light';
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    };

    const toggleTheme = (/** @type {'dark' | 'light'} */ theme) => {
      document.documentElement.setAttribute('data-theme', theme);
      document.documentElement.style.setProperty('color-scheme', theme);

      const sunIcon = document.getElementById('sun-theme-toggle-id');
      const moonIcon = document.getElementById('moon-theme-toggle-id');

      if (theme === 'dark') {
        sunIcon?.classList.add('hidden');
        moonIcon?.classList.remove('hidden');
      } else {
        sunIcon?.classList.remove('hidden');
        moonIcon?.classList.add('hidden');
      }
    };

    // Get the current theme and apply it
    const currentTheme = getTheme();
    toggleTheme(currentTheme);
    localStorage.setItem('theme', currentTheme);

    // Function to handle the theme toggle click
    const handleThemeToggleClick = () => {
      const isDark = document.documentElement.getAttribute('data-theme') === 'dark';
      const newTheme = isDark ? 'light' : 'dark';
      toggleTheme(newTheme);
      localStorage.setItem('theme', newTheme);
    };

    // Add event listener to the theme toggle button
    document.getElementById('themeToggle')?.addEventListener('click', handleThemeToggleClick);
  </script>
</head>
