---
import { Icon } from 'astro-icon';
---

<div
  class="flex items-center justify-center rounded-lg ring-gray-300 hover:bg-gray-200 hover:dark:bg-gray-800"
>
  <button
    type="button"
    id="themeToggle"
    aria-label="Toggle Theme Mode"
    class="base-button-animation p-2"
  >
    <Icon name="tabler:moon" id="moon-theme-toggle-id" size={24} />
    <Icon name="tabler:sun" id="sun-theme-toggle-id" size={24} />
  </button>
</div>

<script>
  // Function to get the current theme
  const getTheme = () => {
    if (localStorage && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') ?? 'light';
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  };

  // Function to toggle the theme
  const toggleTheme = (theme: string) => {
    document.documentElement.setAttribute('data-theme', theme);
    document.documentElement.style.setProperty('color-scheme', theme);

    const sunIcon = document.getElementById('sun-theme-toggle-id');
    const moonIcon = document.getElementById('moon-theme-toggle-id');

    if (theme === 'dark') {
      sunIcon?.classList.add('hidden');
      moonIcon?.classList.remove('hidden');
    } else {
      sunIcon?.classList.remove('hidden');
      moonIcon?.classList.add('hidden');
    }
  };

  // Get the current theme and apply it
  const currentTheme = getTheme();
  toggleTheme(currentTheme);
  localStorage.setItem('theme', currentTheme);

  // Function to handle the theme toggle click
  const handleThemeToggleClick = () => {
    const isDark = document.documentElement.getAttribute('data-theme') === 'dark';
    const newTheme = isDark ? 'light' : 'dark';
    toggleTheme(newTheme);
    localStorage.setItem('theme', newTheme);
  };

  // Add event listener to the theme toggle button
  document.getElementById('themeToggle')?.addEventListener('click', handleThemeToggleClick);
</script>
