---
import '@/styles/main.css';
import { Font } from 'astro:assets';

import Firework from '@/components/Firework.astro';
import Headbar from '@/components/Headbar.astro';
import Snowflake from '@/components/Snowflake.astro';
import config from '@/config';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href={config.siteIconPublicPath} />
    <link rel="icon" type="image/svg+xml" href={config.siteIconPublicPath} />
    <link
      rel="alternate icon"
      type="image/x-icon"
      href={config.siteIconPublicPath}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- RSS Feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/rss.xml"
    />
    
    <Font cssVariable='--font-inter' preload />

    <style>
      body {
        font-family: var(--font-inter), sans-serif;
      }
    </style>
  </head>
  <body class="root">
    <Snowflake />
    <Firework />
    <Headbar />
    <div
      id="firework"
      class="fixed top-0 left-0 w-full h-full pointer-events-none"
    >
    </div>
    <main
      id="main"
      class="flex m-auto w-full max-w-[800px] flex-1 flex-col px-5 text-left"
    >
      <slot />
    </main>
  </body>
</html>
