---
import '@/styles/main.css';
import '@fontsource-variable/inter';
import '@fontsource/noto-sans-tc';

import Firework from '@/components/Firework.astro';
import Headbar from '@/components/Headbar.astro';
import Snowflake from '@/components/Snowflake.astro';
import config from '@/config';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href={config.siteIconPublicPath} />
    <link rel="icon" type="image/svg+xml" href={config.siteIconPublicPath} />
    <link
      rel="alternate icon"
      type="image/x-icon"
      href={config.siteIconPublicPath}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <style>
      body {
        font-family: "Inter Variable", "Noto Sans TC", sans-serif;
      }
    </style>
  </head>
  <body class="root">
    <Snowflake />
    <Firework />
    <Headbar />
    <div
      id="firework"
      class="fixed top-0 left-0 w-full h-full pointer-events-none"
    >
    </div>
    <div
      id="main"
      class="m-auto flex w-full max-w-[800px] flex-1 flex-col items-center px-5"
    >
      <slot />
    </div>
  </body>
</html>
